<!DOCTYPE html>
<html ng-app="ttApp">
<head lang="pl">
    <meta charset="UTF-8">
    <title>AngularJS app</title>

    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/application.js"></script>
    <script type="text/javascript" src="js/greetedPeopleService.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/tt-angular.css" />

</head>
<body>
    <div class="container" ng-controller="MyFirstController">
        <form ng-submit="sayHello()">
        <label for="nameField" >Imię</label>
        <input id="nameField" type="text" placeholder="Podaj imię"
               ng-model="name"/>


        <h1>{{ greeting }}</h1>
        <h2>Hi, {{name}}</h2>

        <a ng-click="makeFullGreeting()">[Full greeting please]</a>
            <a ng-click="fetchOnlineData()">[get online]</a>

        <div class="row">
            <table class="table table-striped col-md-8">
                <thead>
                <tr>
                    <th ng-click="orderByField='id'; reversedOrder=!reversedOrder">
                        <span ng-if="orderByField=='id'" class="glyphicon"
                              ng-class="{true:'glyphicon-arrow-down', false:'glyphicon-arrow-up'}[reversedOrder]">
                        </span>
                        id
                    </th>
                    <th ng-click="orderByField='name'; reversedOrder=!reversedOrder">
                        <span ng-if="orderByField=='name'" class="glyphicon"
                              ng-class="{true:'glyphicon-arrow-down', false:'glyphicon-arrow-up'}[reversedOrder]">
                        </span>
                        name
                    </th>
                    <th>x</th>
                </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="person in peopleWeAlreadyGreeted | orderBy : orderByField : reversedOrder">
                        <td>{{ person.id }}</td>
                        <td>{{ person.name }}</td>
                        <td><a ng-click="remove(person)">Remove this person</a></td>
                    </tr>
                </tbody>

            </table>
        </div>
        </form>
    </div>

</body>
</html>